<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="post">
  <label for="team_name">Team Name:</label>
  <input type="text" name="team[name]" id="team_name"><br>

  <label for="team_motto">Team Motto:</label>
  <input type="text" name="team[motto]" id="team_motto">

  <h2>Hero 1</h2>
  <label for="hero_name_1">Hero's Name:</label>
  <input type="text" name="team[heroes][][name]" id="hero_name_1"><br>

  <label for="hero_power_1">Hero's Power:</label>
  <input type="text" name="team[heroes][][power]" id="hero_power_1"><br>

  <label for="hero_bio_1">Hero's Biography</label>
  <input type="text" name="team[heroes][][bio]" id="hero_bio_1">

  <h2>Hero 2</h2>
  <label for="hero_name_2">Hero's Name:</label>
  <input type="text" name="team[heroes][][name]" id="hero_name_2"><br>

  <label for="hero_power_2">Hero's Power:</label>
  <input type="text" name="team[heroes][][power]" id="hero_power_2"><br>

  <label for="hero_bio_2">Hero's Biography</label>
  <input type="text" name="team[heroes][][bio]" id="hero_bio_2">

  <h2>Hero 3</h2>
  <label for="hero_name_3">Hero's Name:</label>
  <input type="text" name="team[heroes][][name]" id="hero_name_3"><br>

  <label for="hero_power_3">Hero's Power:</label>
  <input type="text" name="team[heroes][][power]" id="hero_power_3"><br>

  <label for="hero_bio_3">Hero's Biography</label>
  <input type="text" name="team[heroes][][bio]" id="hero_bio_3">

</form>
