<h1>Create a Team and Heroes!</h1>

<form action="/teams" method="post">
  <label for="team_name">Team Name:</label>
  <input type="text" name="team[name]" id="team_name"><br>

  <label for="team_motto">Team Motto:</label>
  <input type="text" name="team[motto]" id="team_motto">

  <h2>Hero 1</h2>
  <label for="hero_name_1">Hero No. 1 Name:</label>
  <input type="text" name="team[heroes][][name]" id="hero_name_1">

  <label for="hero_power_2">Hero No. 2 Power:</label>
  <input type="text" name="team[heroes][][power]" id="hero_power_1">
  
  <h2>Hero 2</h2>
  
  <h2>Hero 3</h2>
  
</form>
